* {
    margin: 10px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #303030;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #3E3E3E
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #5D5D5D;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #ffd0d0;
}

table td:first-child {
    text-align: right;
}

strong {
    font-weight: bold;
}

li {
    list-style-type: square;
}

img {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
    text-decoration: underline;
}

header, footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox img {
    margin-right: 20px;
}